body{
    font-family: 'Outfit', sans-serif;
}

body {
  min-height:100vh;
  overflow-x: hidden;
}

footer {
  top: 100%;
  position: sticky;
  width: 100%;
  background-color: #84d1e4;
  color: #fff;
  text-align: center;
  padding: 50px;
}



/*----------------------------------------------------------------------------*/

/* Nav Bar ____________________________________ */

.navbar-logo {
  display: flex;
  align-items: flex;
  margin-right: 2em;
}
.navbar-logo img {
  max-height: 60px;
}

.navbar-personalizar {
  display: flex;
  width:65%;
  margin:auto;
  align-items: center;
}

.container-fluid {
  background-color: #84d1e4!important;
  border-radius: 10px;
}

.navbar-nav .nav-item a {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.1rem;
  padding: 8px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

.nav-item a {
  margin-right: 0.5em;
  color:white;
  font-size: 1.1rem;
  padding:8px;
  font-weight:bold;
  text-decoration: none;
  white-space: nowrap;
}

.nav-item a:hover {
  color:#84d1e4;
  background-color:white;
  border-radius: 10px;
  transition: all 1s ease;
}


/* Seccao de Background */

a {
  text-decoration: none;

}

.banner {
  background: url(/img/banner.png)no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 50% 50%;
  width: 100%;
}

.banner h1 {
  font-size: 5rem;
  font-weight: 700;
  color:white;
}

.botao-simples-2 {
  padding: 10px 12px 10px 12px;
  justify-content: center;
  text-align: center;
  width: 35%;
  outline: none;
  font-weight: 700;
  border-radius: 60px;
  background: #84d1e4;
  border: 3px solid #84d1e4;
  color: white;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;

}


.botao-simples-2:hover {
  border: 3px solid #84d1e4;
  color: #84d1e4;
  background: white;
  font-size: 1.2em;
}

/* ------------------------------ */

.cover-section {
    background-color: #84d1e4;
    text-align: center;
    padding: 50px 0;
    color: #fff;
  }
  
  .cover-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .cover-section p {
    font-size: 40px;
    text-align:center;

  }
  

  .text-body-emphasis
  {
    color: #539fb4 !important;
  }


/* footer ----------------------------------------------------------------------------*/



#img-footer {
  max-height: 60px;
}



/* Formulario de Adocao */

.obrigatorio::after {
    content: " *";
    color: red;
}

#alerta-validacao-dados {
    display: none;
} 
/*Loja*/

.quantidade
{
    width: 110px;
}

.botao-simples  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px 10px 12px;
  border-color: #84d1e4;
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  color: #84d1e4;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1em;
  font-weight: 550;
}

.botao-simples:hover {
    background: #84d1e4;
    border: 3px solid #84d1e4;
    color: white;
    font-size: 1.05em;
  }

  .titulo-principal {
    font-size:50px;
    font-weight: 700;
  }

  .card-title {
    font-size: 1.5rem;
    font-weight: 600;
  }

.card {
  max-height: 100rem;
}

.bd-placeholder-img {
  max-height: 25rem;
  object-fit: cover;
}


/*----Sobre------*/
input[type="submit"] {
  background-color: #84d1e4; 
  color: #fff; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #8cb7c4; 
}

.imagem-direita {
  float: right;
  margin-left: 20px; 
  margin-bottom: 20px; 
  margin-top: 10px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease-in-out; 
}


.card-group h5
{
  color: #84d1e4;
  font-weight: bold;
  font-size:30px;

}


/* Cards caes */
.card {
  margin-right: 10px;
}

#buttons {
  position: relative;
  display: flex;
  gap: 5px;
}

.botoes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nome-cao, .nome-cao-novo {
  height: 2.2em;
}

.descricao-cao {
  height: 6em;
}

.card-img-top {
  object-fit: cover;
  height: 500px;
}


.imagem-detalhes-cao {
  object-fit: cover;
  align-items: center;
  margin: auto;
  width: 50%;

  height: 45em;
}


/*Favoritos */

.botao-favoritos input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.botao-favoritos {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.botao-favoritos svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

.botao-favoritos svg:hover {
  transform: scale(1.1);
}

.botao-favoritos input:checked ~ svg {
  fill: #84d1e4;
} 

.botao-remover
{
  size: 20px;
}